.logo {
    position: relative;
    text-align: center;
    padding: 10px 0px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    max-width:900px;
    width:auto;
    padding:0 15px;
}
.map{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    line-break: auto;
}
.dropdown:hover .dropdown-menu{
    display:block
}
body{
    margin: 0 auto 0 auto; 
    height: 100%;  
    position: relative; 
    width:auto;
    max-width:900px;
    padding:0 15px;
}
a {
    text-decoration: none;
    color:rgba(29, 22, 22, 0.445);
}

  
.footer {
    color:#6c757d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
